@model SQLMultiFlowWeb.Areas.Accounts.ViewsModels.VMAddLogin
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    Layout = null;
}

<main>
    <form method="post">
        <div>
            <label asp-for="Login"></label><input asp-for="Login" type="text" />
            <span asp-validation-for="Login"></span>
        </div>
        <div>
            <label asp-for="Password"></label><input asp-for="Password" type="password" />
            <span asp-validation-for="Password"></span>
        </div>
        <div>
            <label asp-for="PasswordConfirm"></label><input asp-for="PasswordConfirm" type="password" />
            <span asp-validation-for="PasswordConfirm"></span>
        </div>
        <input type="submit" value="OK" /><input type="reset" value="Reset" />
    </form>
</main>