* {
    margin: 0;
    padding: 0;
    font-size: 16px;
}

main {
    margin-left: 1rem;
    margin-right: 1rem;
}

.class-user-name > h3 {
    text-align: right;
}

.class-container-refs {
    margin-top:0.25rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

    .class-container-refs > .class-ref {
        margin-left: 0.1rem;
        margin-right: 0.1rem;
        padding: 0.5rem;
        background-color: lightgray;
        text-align: center;
    }

        .class-container-refs > .class-ref > a {
            font-size:1.2rem;
            text-decoration:none;
            color:black;
        }

        .class-container-refs > .class-ref > a:visited
        {
            color:black;
        }